.header{
    display: flex;
    flex-wrap: wrap;
    background: rgb(44,3,63);
    background: linear-gradient(139deg, rgba(44,3,63,1) 0%, rgba(200,28,89,1) 80%, rgba(255,0,82,1) 100%);
    overflow: hidden;
    justify-content: center;
}
.header_title{
    display: flex;
    padding-top: 4vw;
    padding-left: 2.4vw;
    flex-direction: column;
    padding-bottom: 10vw;
}

.header_title_reference{
    display: flex;
    font-size: 28px;
    font-weight: 100;
    color: #ff5995;
    letter-spacing: 1px;

}

.header_title_reference_image{
    margin-right: 0.8vw;
    width: 28px;
}

.header_title_main{
    display: flex;
    flex-direction: column;
    max-width: max-content;
    text-align: left;
    margin-top: 1vw;
    font-family: AkrobatBold;
    font-size: 70px;
    color: white;
}

.header_title_main_big{
    margin-top: 0.8vw;
    font-size: 150px;
    line-height: 0.8;
}

.header_title_main_big_red{
    color:#ff195a
}

.header_title_reference_bot{
    margin-top: 3vw;
    text-align: left;
    font-size: 25px;
    font-weight: 100;
    color: #ff85c2;
}
.header_img{
    max-width:30vw;
    object-fit: cover;
    align-self: flex-end;
    filter: drop-shadow(0 0 10vw red) ;
}

.header_title_ol{
    margin-right: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1vw;
    font-weight: 100;
    color: #ff85c2;
    margin-top: 6vw;
}
.header_title_li{
    display: flex;
    max-width: 500px;
    margin-bottom: 1vw;
}
.header_title_li_num{
    font-family: Roboto;
    font-size: 80px;
    line-height: 0.9;
    margin-right: 0.2vw;
}
.header_title_li_text{
    font-family: Roboto;
    font-size: 25px;
    line-height: 1.3;
}
.header_title_li_text_wh{
    color: white;
    font-style: bold;
}
.text_bold{
    font-family: RobotoBold;
    color:white;
}
.header_button{
    width: 100%;
    margin-bottom: 50px;
    height:70px;
    border-radius: 10px;
    border: none;
    background-color:#ff195a;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;
}
.header_button_text{
    font-size: 25px;
    font-family: RobotoBold;
    color:white;
    letter-spacing: 1px;
}

.header_button:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    box-shadow:1vw 1vw #ff85c2;
}
.header_image_and_table{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1892px) {
    .header_title_reference{
        align-self: center;
    }
    .header_title_main {
        text-align: center;
    }
    .header_title_reference_bot{
        align-self: center;
    }
    .header_title{
        padding-bottom: 30px;
    }
    .header_image_and_table{
        width:80vw;
    }
    .header_img{
        max-width: 700px;
    }
}
@media screen and (max-width: 1318px) {
    .header_image_and_table{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .header_img{
        max-width: 400px;
        align-self: center;
    }
    .header_title_main_big{
        font-size: 80px;
    }
    .header_title_main{
        font-size: 50px;
    }
    .header_title{
        padding-left:0;
        align-items: center;
    }
    .header_title_li_text{
        font-size: 20px;
    }
    .header_title_li_num{
        font-size: 50px;
    }
}
@media screen and (max-width: 526px) {
    .header_img{
        max-width: 300px;
    }
    .header_title_main_big{
        font-size: 60px;
    }
    .header_title_main{
        font-size: 30px;
    }
    .header_title_li_text{
        font-size: 20px;
    }
    .header_title_li_num{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .header_title_reference{
        font-size: 18px;
    }
    .header_title_reference_image{
        width: 18px;
    }
    .header_title_reference_bot{
        font-size: 16px;
    }
    .header_title_li{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }
}